/node_modules
/public/hot
/public/storage
/public/img
/storage/*.key
/vendor
*.zip
*.rar
*.jpg
*.jpeg
*.png
*.svg
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
